.bin
.github
.gradle
.idea
.kotlin
**/build

jwm-client/target
jwm-client/.eslintrc.json
jwm-client/.prettierrc.json

.dockerignore
.editorconfig
*.env
.gitignore
*.md
Dockerfile
Dockerfile.*
LICENSE
